/* 
    Document   : filePanel
    Created on : Mar 2, 2013, 4:11:57 AM
    Author     : Owner
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

#dm-filePanelForm {
  height: 80%;
  width: 100%;
  position: relative;
}

#filePanel {
  width: 100%;
  height: 100%;
  position: relative;
}

#upload-button, #download-button {
  background-color: rgba(13,14,14, 1.0);
  color: white;
  font-weight: bold;
  width: 100%;
  height: 10%;
  position: relative;
  bottom: 0;
  right: 0;
  -moz-border-radius: 15px;
  border-radius: 5px;
}

#dm-filePanel {
    position: relative;
    width: 215px;
    height: 101%;
    border: 2px solid black;
    float: right;
}