/* 
    Document   : header
    Created on : 22-Feb-2013, 2:47:52 AM
    Author     : dawson
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

header {
    width: 100%;
    padding: 5px;
}

#dig-title {
   font-family:"Times New Roman";
   font-size: 55px;
   font-weight:700;
}

#dig-slogan {
    font-weight: bold;
    font-style:italic;
    margin-left: 20px;
}

#dig-refresh-button {
    float:right;
    margin: 0 10px 0 10px;
}

#random-button {
    float: right;
    width: 48px;
    height: 48px;
    margin: 0 10px 0 10px;
    
    /* background-color: rgba(14,14,14,1.0); */
    border: 1px solid black;
    border-radius: 10px;
}