/* 
    Document   : results
    Created on : Mar 2, 2013, 4:09:25 AM
    Author     : Owner
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

#dm-stats {
    width: 500px;
    height: 101%;
    border: 2px solid black;
    float: right;
}