/* 
    Document   : style.css
    Created on : 19-Feb-2013, 10:27:35 PM
    Author     : dawson
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

* {
    /* Recommend from http://paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

header, footer {
    border: 1px solid black;
    width: 100%;
    
    padding: 5px;
}

footer li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

div.page {
   
}

.block {
    display: inline-block;
    padding: 5px;
    border: 1px dotted black;
}

div#select-fields {
    margin: 5px 0;
    padding: 5px 0;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    text-align: center;  
    height: 100%; 
    width: 100%;
}

.axis-select {
    display: block; 
    padding: 0;
    margin: 0;
}
.axis-select span {
    display: block; 
    width: 100%;
}
.axis-select select {
    display: block; 
    /*
    height: 10em;
    */
    width: 100%;
}


div#options-panel {
    width: 100%;
    border: 1px solid black;
    background-color: rgba(230,230,230,1.0);
    display: inline-block;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}

button#upload-button, button#download-button {
    width: 100%;
}

div#options-toggle {
    text-align: center;
    border: 1px solid black;
    background-color: rgba(200,200,200,1.0);
    margin: 5px 0;
    padding: 5px 0 5px 0;
}


#dm-graph {
    /*
    width:600px;
    height:400px;
    */
    
    background-image: url('http://i31.photobucket.com/albums/c390/droogin_leader2006/hotCrazyScaleExample.jpg');
    background-size: 100% 100%;
    
    width: 100%;
    height: 100px; /* jQuery should automatically resize this */
    border: 1px dotted black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    
}
