/* 
    Document   : style.css
    Created on : 19-Feb-2013, 10:27:35 PM
    Author     : dawson
    Description:
        Purpose of the stylesheet follows.
*/

#dm-graph {
    width:600px;
    height:400px;
}

root { 
    display: block;
}

header, footer {
    border: 1px solid black;
    display: block;
    width: 100%;
}

div.page {
   display: block; 
    
}

.block {
    display: block;
    float: left;
    border: 2px dotted black;
    padding: 5px;
    margin: 5px;
}